<!DOCTYPE html>
<html>
<link rel="stylesheet" href="~/Content/daohang.css">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="custom-navbar custom-expand-sm custom-toggleable-sm custom-dark-bg">
        <div class="custom-container">
            @Html.ActionLink("Multi-Campus Student Management System", "Index", "Home", new { area = "" }, new { @class = "custom-navbar-brand" })
            <button type="button" class="custom-toggler" data-bs-toggle="collapse" data-bs-target=".custom-navbar-collapse" title="Toggle Navigation" aria-controls="custom-navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="custom-toggler-icon"></span>
            </button>
            <div class="custom-navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="custom-navbar-nav custom-flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "custom-nav-link" })</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "custom-nav-link" })</li>
                    <li>@Html.ActionLink("Campus", "Index", "Campus", new { area = "" }, new { @class = "custom-nav-link" })</li>
                    <li>@Html.ActionLink("Students", "Index", "Students", new { area = "" }, new { @class = "custom-nav-link" })</li>
                </ul>
                @using (Html.BeginForm("Index", "Students", FormMethod.Get, new
                {
                    @class = "custom-navbar-form custom-navbar-left"
                }))
                {
                    <div class="custom-form-group">
                        @Html.TextBox("Search", null, new
                        {
                            @class = "custom-form-control",
                            @placeholder = "Search Products"
                        })
                    </div>
                    <button type="submit" class="custom-btn custom-btn-default">Submit</button>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>